<h1>Welcome To {{title}}</h1>


<p>Hello world</p>
<app-user [name]="rootName" (nameChanged)="onNameChanged($event)"></app-user>

<app-dashboard></app-dashboard>
<app-cart [items]="rootItems" (itemAdded)= "onItemWasAdded($event)"></app-cart>


<P>{{number}}</P>
<button (click)="onIncrease()"  class = "btn btn-primary">Increase number</button>